@import '../../variables.scss';

.btn {
  background: $white;
  min-height: 36px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid $red;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 3px;
  @media only screen and (min-width: 640px) {
    justify-content: left;
    margin: 0 0 10px 0;
    &:last-child {
      margin: 0;
    }
  }
  cursor: pointer;
  > div {
    display: block;
  }
  &:hover {
    background: $red;
    color: $white;
    .icon {
      path {
        fill: $white;
      }
    }
  }
  .icon {
    margin-right: 3px;
    @media only screen and (min-width: 640px) {
      margin: 0 8px 0 5px;
    }
    path {
      fill: $red;
    }
  } 
}
