@import '../../variables.scss';

.wrap {
  margin: 10px 0 100px 0;
  padding: 8px 10px;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  @media only screen and (min-width: 640px) {
    border-top: none;
    border-bottom: none;
    margin: 0;
    padding: 20px 24px 10px 24px;
  }
  .userBlock {
    img {
      width: 48px;
    }
    .right {
      display: inline-block;
      position: relative;
      top: -13px;
      left: 10px;
      .label {
        @extend %label;
        margin-top: 0;
        position: relative;
        top: 3px;
      }
      .value {
        @extend %value
      }
    }
  }
  .label {
    @extend %label;
    text-transform: capitalize;
  }
  .value {
    @extend %value
  }
}