@import '../../variables.scss';

.wrap {
  height: 60px;
  box-shadow: 0 0px 6px 0px #999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  align-items: center;
  @media only screen and (min-width: 640px) {
    display: block;
    position: static;
    height: auto;
    box-shadow: none;
    padding: 10px 24px 24px 24px;
    border-top: 1px solid $borderColor;
  }
  .caption {
    @extend %value;
    display: none;
    @media only screen and (min-width: 640px) {
      & {
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
      }
    }
  }
  .innerWrap {
    display: flex;
    flex: 1;
    margin: 0px 5px;
    @media only screen and (min-width: 640px) {
      display: block;
      margin: 0;
    }
  }
}