@import '../../variables.scss';

.wrap {
  display: flex;
  padding: 10px;
  @media only screen and (min-width: 640px) {
    padding: 20px 24px;
  }
  .innerWrap {
    cursor: pointer;
    display: flex;
    align-items: center;
    &:first-child {
      margin-right: 20px;
      @media only screen and (min-width: 640px) {
        margin-right: 0;
      }
    }
    @media only screen and (min-width: 640px) {
      flex: 1;
    }
    .icon {
      margin-right: 5px;
      width: 20px;
      height: 18.5px;
      path {
        fill: $grey
      }
    }
    span {
      color: $grey
    }
  }
}
  