.container {
  background: white;
  height: 80px;
  box-shadow: 0 0px 6px 0px #999;
  display: flex;
  padding-left: 30px;
  
  @media only screen and (min-width: 992px) {
    padding-left: 80px;
  }
  @media only screen and (min-width: 640px) {
    position: fixed;
    top: 0;
    width: 100%;
  }
  img {
      cursor: pointer;
      width: 140px;
      display: block;
      position: relative;
      top: 3px;
  }
}

