@import '../../variables.scss';

.wrap {
  padding: 0 10px;
  @media only screen and (min-width: 640px) {
    padding: 0 24px;
  }
  .label {
    @extend %label;
  }
  .value {
    @extend %value;
    &.price {
      color: $red;
      font-size: 20px;
      font-weight: bold;
    }
  }
}