@import './variables.scss';

.outerContainer {
  @media only screen and (min-width: 640px) {
    .productSidebar {
      border: 1px solid $borderColor;
      flex: 1;
      @media only screen and (min-width: 992px) {
        width: 326px;
        flex: none;
        margin-left: 20px;
      }
    }
    .wrap {
      display: flex;
    }
    .productCarousel {
      flex: 1;
    }
  }
  .container {
    @media only screen and (min-width: 640px) {
      margin-top: 80px;
    }
    @media only screen and (min-width: 992px) {
      max-width: 991px;
      margin-left: auto;
      margin-right: auto;
    }
    .breadcrum {
      display: none;
      @media only screen and (min-width: 992px) {
        display: block;
        font-size: 11px;
        padding: 35px 0 10px 0;
        margin-bottom: -10px;
      }
    }
    .heading {
      @extend %h1;
      padding: 10px;
      margin: 0;
      @media only screen and (min-width: 992px) {
        padding: 10px 0;
        max-width: 645px;
      }
    }
    .productCarousel {
      img {
        display: block;
        width: 100%;
        border: 1px solid $borderColor;
        @media only screen and (min-width: 640px) {
          border-right: none;
        }
        @media only screen and (min-width: 992px) {
          border: 1px solid $borderColor;
        }
      }
    }
  }
}