$white: #ffffff;
$red: #E01A1A;
$black: #333333;
$grey: #707070;
$borderColor: #B9B9B9;

%h1 {
  font-size: 20px;
  color: $black;
}

%label {
  font-size: 12px;
  margin-top: 10px;
  color: $grey;
  &:first-child {
    margin-top: 0px;
  }
}

%value {
  color: $black;
}



@import url('https://fonts.googleapis.com/css?family=Open+Sans');